<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JADEIT / Kupno</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheet.css')}}">
</head>
<body>
<div class=container11>
    <h1>-------------- $ ---- KUPNO KRYPTOWALUTY ---- $ --------------</h1>
</div>
<div class=container4>
    <a href = "{{url_for('operation')}}"> wyjdź </a>
</div>
<div class=container6>
    <a href="{{url_for('purse_sell')}}"> PORTFEL</a>
</div>

<div class=container1>
    <h3>Aktualne saldo konta: {{balance}} zł</h3>
</div>
<form action="{{url_for('coin_purchase')}}" method="POST">
    <div class=container2>
        <br>
        <p>Symbol kryptowaluty :</p>
        <input name='crypto_symbol' type='text'/>
        <p>Ilość :</p>
        <input name='crypto_qty' type='number'/>
        <p>Data :</p>
        <input name='datetime' type='date'/>
        <button type='submit'>Kup</button>
    </div>
</form>
<div class=container1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <h3>-------------------------------- UWAGA !!! ----------------------------</h3>
        <h4>
            <li>{{message}}</li>
        </h4>
        <h3>-----------------------------------------------------------------------------</h3>
        {% endfor %}
    </ul>
    {% endif %}
	{% endwith %}
</div>
</body>
</html>







