<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JADEIT / Twój portfel</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheet.css')}}">
</head>
<body>
<div class=container11>
    <h1>-------------- $ ---- TWÓJ PORTFEL ---- $ --------------</h1>
</div>
<div class=container4>
    <a href = "{{url_for('operation')}}"> wyjdź </a>
</div>
<div class=container1>
    <h3><p>Aktualne saldo konta: {{balance}} zł</p></h3>
    <h3><p>Zysk z transakcji: {{profit}} zł</p></h3>
</div>

<div class=container1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <h3>-------------------------------- UWAGA !!! ----------------------------</h3>
        <h4>
            <li>{{message}}</li>
        </h4>
        <h3>-----------------------------------------------------------------------------</h3>
        {% endfor %}
    </ul>
    {% endif %}
	{% endwith %}
</div>
<br>
<table>
    <tr>
        <th>SYMBOL</th>
        <th>NAZWA</th>
        <th>ILOŚĆ</th>
        <th>CENA / zapłacono zł/j.</th>
    </tr>
    {% for crypto in wallet %}
    <tr>
        <td>{{crypto.symbol}}</td>
        <td>{{crypto.name}}</td>
        <td>{{crypto.qty}}</td>
        <td>{{crypto.price}} __ zł/j.</td>
    </tr>
    {% endfor %}
</table>
<form action="{{url_for('purse_sell')}}" method="POST">
    <div class=container2>
        <br>
        <p>Symbol kryptowaluty :</p>
        <input name='crypto_symbol' type='text'/>
        <p>Ilość :</p>
        <input name='crypto_qty' type='number'/>
        <p>Data :</p>
        <input name='datetime' type='date'/>
        <button type='submit'>Sprzedaj</button>
    </div>
</form>
</body>
</html>


