<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JADEIT / Twój portfel</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheet.css')}}">
</head>
<body>
<div class=container11>
    <h1>-------------- $ ---- TWÓJ PORTFEL ---- $ --------------</h1>
</div>
<div class=container4>
    <a href = "{{url_for('operation')}}"> wyjdź </a>
</div>
<div class=container1>
    <h3><label>Aktualne saldo konta: {{balance}} zł</label></h3>
    <h3><label>Zysk z transakcji kupno-sprzedaż : {{profit}} zł</label></h3>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <h3>-------------------------------- UWAGA !!! ----------------------------</h3>
        <h4>
            <li>{{message}}</li>
        </h4>
        <h3>-----------------------------------------------------------------------------</h3>
        {% endfor %}
    </ul>
    {% endif %}
	{% endwith %}
</div>
<br>
<table>
    <tr>
        <th>SYMBOL</th>
        <th>NAZWA</th>
        <th>ILOŚĆ</th>
        <th>CENA / zapłacono zł/j.</th>
    </tr>
    {% for crypto in wallet %}
    <tr>
        <td>{{crypto.symbol}}</td>
        <td>{{crypto.name}}</td>
        <td>{{crypto.qty}}</td>
        <td>{{crypto.price}} __ zł/j.</td>
    </tr>
    {% endfor %}
</table>

<form action="{{url_for('purse_sell')}}" method="POST">
    <div class=container1>
        <h3><label>Chcę sprzedać</label></h3>
    </div>
    <div class=container2>
        <i>symbol kryptowaluty :&nbsp;&nbsp;&nbsp;</i>
	    <select name='crypto_symbol'>
            {% for crypto in wallet %}
            <option>{{crypto.symbol}}</option>
            {% endfor %}
            <input name='crypto_qty' type='number'
                   style="margin-left: 70px"/>&nbsp;&nbsp;&nbsp;&nbsp;<i>ilość</i>
        </select>
    </div>
    <div>
        <br>
        <br>
        <input name='datetime' type='date'
               style="margin-left: 865px"/>&nbsp;&nbsp;&nbsp;&nbsp;<i>data</i>
    </div>
    <br>
    <br>
        <button type='submit' style="margin-left: 710px">Sprzedaj</button>
</form>
</body>
</html>


